* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1250px;
  height: 200px;
}

h1 {
  color: blue;
  text-align: center;
  width: 100px;
  height: auto;
}